<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{{static}}css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main">
      {% block container %}{% endblock %}
    </div>
    <footer>
      <div class="block">
        <div class="module">
          <div class="module__title">Акселератор "Превосходство" | Маркетплейс акселерационных программ на выбор стартапа</div>
          <div class="module__content">ИП Чухрай А.С.<br>Юр. адрес: 123112, г. Москва, Пресненская наб, 12, Москва-Сити,  Восточная Башня Федерация, 28 этаж, офис 16-17<br>ИНН 231806689569
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>