{% extends 'base.html' %}
{% block container %}
  <div class="block">
    <div class="module">
      <div class="module__content">
        <h2>
            Тарифы <br>
            <ul>
                <li><b>«На сутки»</b> - 990 ₽ на 24 часа (<i>Доступ к Базовым нишам</i>)</li>
                <li><b>«Базовый»</b> - 2 990 ₽ на 7 дней (<i>Доступ к Базовым нишам</i>)</li>
                <li><b>«Стандартный»</b> - 7 990 ₽ на 31 день (<i>Доступ к Premiun базам ниш</i>)</li>
                <li><b>«Профессионал»</b> - 69 000 ₽ на 365 дней (<i>Доступ к Premiun базам ниш, Доступ к Акселератору на стадии PreSeed, Доступ к модулю «Тестирование ниш»</i>)</li>
            </ul>
        </h2>
      </div>
    </div>
  </div>
{% endblock %}